# Next.js build & cache
client/.next/
client/.env.local

# Node modules
client/node_modules/

# Python virtualenv & uploads
server/venv/
server/uploads/
server/__pycache__/

# dotenv & service‐account
*.env
firebase-service-account.json

# environment variables
.env.local